@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    /* font-family: 'Roboto', sans-serif; */
    padding: 10px;
    border-radius: 10%;
}

.navbar-brand img {
    width: 60px; /* Ajusta el tamaño según tus necesidades */
    height: 60px;
    margin-left: 10px;
}

.navbar {
    background-color: #f8f9fa; /* Color de fondo del navbar */
}

.nav-link {
    color: #343a40 !important; /* Color de los enlaces del navbar */
    font-size: 25px; /* Tamaño de fuente para los enlaces */
}

.nav-link.active {
    font-weight: bold; /* Negrita para el enlace activo */
}

.dropdown-menu {
    background-color: #ffffff; /* Color de fondo del menú desplegable */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Color de fondo al pasar el ratón */
}

.form-control {
    width: 200px; /* Ancho del campo de búsqueda */
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    font-size: 16px;
    text-align: justify;
}
